* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eee;
    position: relative;
}

.container {
    width: 360px;
    background: #f9f9f9;
    height: 420px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 22px #bbb;
    animation: animate 3s ease;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(0);
}


h2 {
    text-align: center;
    background: linear-gradient(90deg, #1b0caa, #b40ce7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 60px;
}

.img {
    width: 95%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 3px 8px #999;
    margin: 0 0 20px 0;
}

.img:hover {
    box-shadow: 0 0 7px #222, 0 0 12px #fff;
}

img {
    width: 98%;
    height: 48vh;
}

button {
    background: linear-gradient(230deg, #503ef1, #b40ce7);
    padding: 15px 25px;
    margin-left: 25%;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;
	outline: none;
}

button:hover {
    opacity: 0.7;
}

@keyframes animate {
    0% {
        transform: translateX(250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

